
html {
    position: relative;
    min-height: 100%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }